---
interface Props {
  name: string;
  primary?: boolean;
}

const { name, primary } = Astro.props;

const baseClasses = "rounded-xl py-1 px-2 text-gray-950 dark:text-gray-100 text-sm bg-gray-200/90 dark:bg-gray-800/60 border-1 backdrop-blur-2xl";

const primaryBorderClasses = "border-gray-700 dark:border-gray-300 border-1";
const secondaryBorderClasses = "border-gray-300 dark:border-gray-700 border-1";
---

<span class={`${baseClasses} ${primary ? primaryBorderClasses : secondaryBorderClasses}`}>
  {name}
</span>