---
import "@fontsource-variable/inter"
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const {title, noRobots} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-0TL37Z4BVM"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-0TL37Z4BVM');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Hilary's Website"}</title>

    <!-- Metas -->
    <meta name="description" content="Hilary's personal portfolio website" />
    {noRobots && <meta name="robots" content="noindex" />}
  </head>
  <body class="dark:bg-gray-800 fade-blocked">
    <div class="fixed top-0 left-0 size-full -z-10 blur-2xl background opacity-100 transition-opacity duration-1000"></div>
    <Navbar />
    <main class="flex flex-col gap-12">
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
