---
import '@fontsource/fira-mono';
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hilary's Website</title>

    <!-- Metas -->
    <meta name="description" content="Hilary's personal portfolio website" />

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GA_TRACKING_ID || ""}`}></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", import.meta.env.GA_TRACKING_ID || "");
    </script>
  </head>
  <body class="dark:bg-gray-950 font-mono">
    <div class="fixed top-0 left-0 size-full -z-10 blur-2xl background"></div>
    <Navbar />
    <main class="flex flex-col gap-12">
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    * {
      scroll-behavior: smooth;
    }
  </style>
</html>
